.list {
	overflow: auto;
	height: 40vh;
}

.section {
	font-weight: bold;
}

.selected {
	background-color: lightblue;
}

.invisible {
	display: none;
}

table {
	position: relative;
}

th {
	background-color: white;
	position: sticky;
	top: 0;
}
